.nav-text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size: 135%;
}

.welcome {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 160%;
}

body {
    background-image: url("1.jpg") !important;
    background-color: #cccccc;
}

.labela {
    /* font-family: Georgia, 'Times New Roman', Times, serif !important; */
    font-size: 150% !important;
    font-weight: 700 !important;
    color: white;
}

.welcome {
    color: #cccccc;
    font-size: 120%;
    font-weight: 300;
}

.check {
    color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 115%;
    font-weight: 300;
}


/* TABS */

h2.inactive {
    color: white;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}


/* login */

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: white;
}


/* STRUCTURE */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 35px;
    width: 110%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}


/* FORM TYPOGRAPHY*/

button {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 60px;
    margin: 20px 10px 50px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

button:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    background-color: #39ace7;
}

button:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

input[type=text],
input[type=password],
input[type=email] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=text],
input[type=password],
input[type=email]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type=text],
input[type=password],
input[type=email]:placeholder {
    color: #cccccc;
}


/* ANIMATIONS */


/* Simple CSS3 Fade-in-down Animation */

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


/* Simple CSS3 Fade-in Animation */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}


/* Simple CSS3 Fade-in Animation */

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after {
    width: 100%;
}


/* OTHERS */

*:focus {
    outline: none;
}

#icon {
    width: 60%;
}


/* pocetna */

h2.home {
    font-size: 150% !important;
    font-weight: 700 !important;
    color: white;
}

a {
    color: white !important;
    text-decoration: none !important;
    font-family: "Poppins", sans-serif !important;
}

button.btn-dark {
    width: 10%;
    height: 20%;
    text-align: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    -webkit-border-radius: 5px 5px 5px 5px !important;
    border-radius: 5px 5px 5px 5px !important;
    margin: 0px 5px 20px 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input.form-check-input {
    vertical-align: middle;
    margin: 7px 0px 0px 5px;
    transform: scale(1.7);
}

input.form-check-input:checked+label {
    text-decoration: line-through;
}

label.check {
    font-family: "Poppins", sans-serif;
    font-size: 160%;
    margin: -7px 20px 10px 50px;
    font-weight: 700;
    color: white;
}

.recipe-image {
    border-radius: 8px;
    max-width: 90%;
    height: auto;
    margin: 10px 5px 10px 5px;
}

table.recepti-table {
    text-align: center;
    color: white;
    font-size: 130%;
    font-weight: 600;
    vertical-align: middle;
}

span.table-recept {
    font-family: "Poppins", sans-serif;
    font-size: 130%;
    font-style: italic;
    color: white;
    font-weight: 700;
    margin: 10px 40px 10px 40px;
}

span.rating {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

span.recept {
    color: white;
    font-size: 160%;
    font-weight: 600;
    margin: 10px 10px 10px 30px;
}

.recept-lista {
    color: white;
    font-size: 130%;
    margin: 10px 10px 10px 20px;
}

h2.recipe-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 200%;
    font-weight: 700;
    margin: 20px 10px 20px 30px;
}

p.recept-lista {
    margin: 10px -15px 10px 30px;
}

.custom {
    margin: 10px 20px 30px 30px;
    border: 1px solid #ccc !important;
    width: 120px !important;
    border-radius: 3px !important;
    overflow: hidden !important;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50% !important;
}

.custom select {
    padding: 5px 8px !important;
    width: 130% !important;
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
    background-image: none !important;
    -webkit-appearance: none !important;
    display: inline-block !important;
}

input.sastojci {
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 3px;
    width: 110%;
    text-align: left;
}

div.textarea {
    margin: 20px 50px 20px 20px;
}

input[type=file] {
    color: white;
}